
    <div>
        <ul>
            <h4>User</h4>

            <li><a
                class="link-offset-2 link-underline link-underline-opacity-0"
                style="color: white;"
                href="/dashboard_user">Dashboard</a></li>
            <li><a
                class="link-offset-2 link-underline link-underline-opacity-0"
                href="/donations_made"
                style="color: white;">Donations Made</a></li>
            <li> <a
                class="link-offset-2 link-underline link-underline-opacity-0"
                href="/ngos_connected" style="color: white;">Total
                NGO's Connected</a></li>
            <li><a
                class="link-offset-2 link-underline link-underline-opacity-0"
                href="/make_donations" style="color: white;">Make
                New Donation</a></li>
            <li><a
                class="link-offset-2 link-underline link-underline-opacity-0"
                href="/new_ngo" style="color: white;">Connect to new
                NGO</a></li>
        </ul>
    </div>
