
    <div >
        <ul>
            <h4><a href="/ngo_profile">NGO</a></h4>

            <li><a href="/dashboard_ngo">Dashboard</a></li>
            <li><a href="/donor_connected">Total Donors Connected</a></li>
            <li><a href="/donation_request">Donations Request</a></li>
            <li><a href="/to_be_received">Donations yet to be received</a></li>
            <li><a href="/rejected">Donations rejected</a></li>
            <li><a href="/donation_received">Total Donations received</a></li>
        </ul>
    </div>
