{% comment %} <!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Sidebar Example</title>
    <link rel="stylesheet" href="styles.css">
</head>
<body>
    <div class="sidebar" id="glass_1">
        <ul>
            <h4><a href="/ngo_profile">NGO</a></h4>

            <li><a href="/dashboard_ngo">Dashboard</a></li>
            <li><a href="/donor_connected">Total Donors Connected</a></li>
            <li><a href="/donation_request">Donations Request</a></li>
            <li><a href="/to_be_received">Donations yet to be received</a></li>
            <li><a href="/rejected">Donations rejected</a></li>
            <li><a href="/donation_received">Total Donations received</a></li>
        </ul>
        
    </div>
</body>
</html> {% endcomment %}
